<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428616685285-e7b1sg9c0uaqkcdnois86lqokjt4lnmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428616685285-e7b1sg9c0uaqkcdnois86lqokjt4lnmp</string>
	<key>API_KEY</key>
	<string>AIzaSyBHihFedDniozUCQ-xwnpHyr_LgJb92NXk</string>
	<key>GCM_SENDER_ID</key>
	<string>428616685285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.police</string>
	<key>PROJECT_ID</key>
	<string>wopo-9c7a7</string>
	<key>STORAGE_BUCKET</key>
	<string>wopo-9c7a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428616685285:ios:5e444a0128db5b3497a60c</string>
</dict>
</plist>